html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, em, p, font, img, small, strong, center, dl, dt, dd, ol, ul, li, form, label, table, caption, tbody, tr, th, td {margin:0;padding:0;border:0;outline:0;font-size:12px;vertical-align:baseline}
ol, ul {list-style:none} :focus {outline:none; }
table {border-collapse:collapse;border-spacing: 0}
caption, th, td { text-align: left; font-weight: normal}
strong {font-weight:600}
a{font:12px Arial;text-decoration:none;color:#404040;cursor:pointer;}
a:hover{text-decoration:none}
h1{font-size:16px;font-weight:600;color:#666} .left{float:left} .right{float:right} .clear{clear:both}


.header{width: 1000px;height: 64px;margin: 0 auto;position: relative}
.headlogo{position: absolute;display:block;left: 50px;top: 17px;}
.headintro{position: absolute;width: 144px;height: 28px;display: block;top: 17px;left: 194px;border-left: 1px solid #d2d2d2;text-align: center}
.headintro span{color: #959595;font-family:Microsoft YaHei;font-size: 16px;line-height: 28px;font-weight: 500;}
.nav{position: absolute;top: 24px;right: 100px;display: block;}
.nav ul li{float: left;color: #b1b1b1;font-family:Microsoft YaHei;display: block;padding-left: 13px;}

.mid{width: 100%;height: 600px;position: relative;background-color: rgb(227, 226, 235)}
.main{width: 1000px;margin: 0 auto;height: 600px;position: relative;}
.mid img{width: 100%;height: 600px;background-position: center top;position: absolute;display: none}
.icon{position: absolute;bottom: 12px;right: 100px;z-index: 9}
.prev{background-image: url("http://mimg.127.net/index/163/img/2013/bg_v3.png");cursor:pointer;display: block;float: left;width: 25px;height: 25px;background-position:0px -457px }
.next{background-image: url("http://mimg.127.net/index/163/img/2013/bg_v3.png");cursor:pointer;display: block;float: left;width: 25px;height: 25px;margin-left: 10px;background-position: -35px -457px}

.box{  width:280px;;height: 470px;position: absolute;top: 60px;right: 100px;background: white;border: 1px solid #dddddd;z-index: 1}
.box-shadow-1{box-shadow:-1px 0 1px #7cc4e3, 1px 0 1px #7cc4e3, 0 -1px 1px #7cc4e3, 0 1px 1px #7cc4e3;  }
.boxtop{width: 280px;height: 40px;position: relative;}

.boxtop ul li{width: 139px;float: left;display: block;text-align: center;font-size: 15px;color: #959595;font-family:Microsoft YaHei;line-height: 40px;cursor: pointer}
.ewm{border-right: 1px solid #dddddd;border-bottom: 1px solid #dddddd}

.boxmain{width:280px;position:absolute;}
.denglu1{position:absolute;width: 280px;height: auto;top: 0;left: 0;display: none}
.denglu1 h3{text-align: center;color: #959595;font-family:Microsoft YaHei;font-size: 15px;padding-top: 60px}
.app1{width:150px;display: block;height: 150px;background-image: url("ee.png");position: absolute;left: 70px;top: 125px;z-index: 10}
.app2{width: 140px;height: 180px;background-image:url("http://mimg.127.net/index/lib/img/applogin_example.png");display: none;position:absolute ;right: 10px;top:110px;z-index: 10;}
.dashi{background-color: #89dbff ;border-radius: 20px;width: 180px;height: 20px;line-height: 20px;text-align: center;position: absolute;top: 320px;left: 60px}
.dashi p{color: white;font-size: 12px;}
.how{width: 200px;height: 20px;position: absolute;top: 370px;left: 68px}
.how li{float: left;width: 80px;padding-left: 10px;}
.how li a{color: #74b8d5  }

.denglu2{position: absolute;width: 280px;height: auto;top: 0;left: 0;display: block}
.zhanghao{width: 240px;height: 42px;margin:0 auto;border: 1px solid #ababab;border-radius: 3px;margin-top: 30px;position: relative;   }
.icondl{background-image: url("http://mimg.127.net/index/163/img/2013/bg_v3.png");background-position: -154px -64px;width: 14px;height: 16px;position: absolute;left: 9px;top: 13px;}
.denglu2 input{width: 135px;height: 21px;position: absolute;top: 1px;left: 28px;line-height: 21px;padding: 9px 0;border: 0px;font-size: 15px;font-weight: 700;font-family:verdana}
.zhanghao span{width: 75px;height: 33px;position: absolute;right: 8px;top: 4px;color: #666666;font-size: 14px;line-height: 33px;font-family:Microsoft YaHei}
.denglu2 label{height: 14px;position: absolute;left: 30px;top: 14px;line-height: 14px;font-size: 14px;color: #c9c9c9;cursor: text;visibility: visible;background: none}
.mima{width: 240px;height: 42px;margin:20px auto;border: 1px solid #ababab;border-radius: 3px;margin-top: 30px;position: relative;box-shadow:0px -0.5px 1px #ababab }
.iconmima{background-image: url("http://mimg.127.net/index/163/img/2013/bg_v3.png");background-position:-178px -64px;width: 14px;height: 16px;position: absolute;left: 9px;top: 13px;}

.logincheck{width: 280px;height: 14px;clear: both;position: relative;}
.check1{width: 150px;height: 14px;float: left;margin-left: 25px;}
.check1 b{width: 14px;height: 14px;background-image: url("http://mimg.127.net/index/163/img/2013/bg_v3.png");background-position: -40px -160px;cursor: pointer;display:inline-block;vertical-align: top}
.check1 span{color: #808080  }
.check2{width: 90px;height: 14px;float: right;line-height: 14px}
.check2 a{cursor: pointer;line-height: 14px;color: #808080  }
.yinying{box-shadow:inset 1px 1px 0.5px #ababab,inset 1px 1px 0.5px #ababab,inset -1px -1px 0.5px #ababab}

.loginBtn{width: 245px;height: 38px;margin: 29px 0 0 25px;}
.loginBtn .btn{width: 110px;height: 38px;text-align: center;cursor: pointer;display: inline-block;background-image: url("163.png");font-size: 14px;font-weight: 700;border-color: transparent;border-radius: 5px;}
.loginBtn .btn-login{background-position: 0 -208px;color: #fff;box-shadow: 0 2px 5px rgba(0,28,88,.3);float: left}
.loginBtn .btn-reg{background-position: -117px -208px;color: #6d798c;box-shadow: 0 2px 5px rgba(0,0,0,.1);float: right ;line-height: 38px}

.mailApp{margin: 50px 0 0 20px}
.mailApp a{display: block;width: 256px;height: 35px;background: url("http://mimg.127.net/index/lib/img/mailapp_logo_141212.png")no-repeat;}

.ext{padding: 41px 0 55px 25px}
.ext ul{line-height: 20px}
.ext ul li a{color: #9bacc6;}
.ext ul li a:hover{color: #4c8dc5 }

.footer{height: 65px;width: 100%}
.footer-inner{width: 1000px;margin: 0 auto;height: 63px;position: relative}
.footer-inner .footer-logo{position: absolute;top: 11px;left: 35px;}
.footer-inner ul{top: 25px;right: 120px;position: absolute}
.footer-inner ul li{float: left;}
.footer-inner ul li a{color: #959595;margin-left: 25px}
.footer-inner ul li a:hover{color: #555555
}